
@{
    Layout = null;
}
@using DepartmentMvcApp.Model;
@using DepartmentMvcApp.ResourceFiles
@model EmployeeViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@EmployeeResourcesFile.Title</title>
</head>
<body>
    <p> @EmployeeResourcesFile.Count @Model.Count</p>
<p>@Html.ActionLink("Add", "Add", "Employee")&nbsp;&nbsp;@Html.ActionLink("Department Home", "Index", "Department");
    &nbsp;&nbsp;@Html.ActionLink("All Employee Details", "EmployeDetails", "Employee")</p>
    <div>
        <table class="table-bordered">
            <tr>
                <th>@EmployeeResourcesFile.Id</th>
                <th>@EmployeeResourcesFile.EName</th>
                <th>@EmployeeResourcesFile.Job</th>
                <th>@EmployeeResourcesFile.SAL</th>
                <th>@EmployeeResourcesFile.COM</th>
                <th>@EmployeeResourcesFile.DOJ</th>
                <th>@EmployeeResourcesFile.MGR</th>
                <th>@EmployeeResourcesFile.DeptNo</th>
            </tr>
            @foreach (var emp in @Model.Employees)
            {
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.EmployeeName</td>
                    <td>@emp.Job</td>
                    <td>@emp.Salary</td>
                    <td>@emp.Comm</td>
                    <td>@emp.DateOfJoin</td>
                    <td>11</td>
                    <td>@emp.Department.Id</td>
                    <td>@Html.ActionLink("Edit","EditEmployee","Employee",new {id=@emp.Id},null)</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
