
@{
    ViewBag.Title = "Index";
}
@using DepartmentMvcApp.Model;
@using DepartmentMvcApp.Views.Department
@model IndexViewModel

<h2>@Index.DepartmentHead</h2>

@Html.ActionLink("Add Departments", "Add", "Department")&nbsp;&nbsp;&nbsp;
@Html.ActionLink("Employee Details", "EmployeDetails", "Employee")

<h4>Total Department:@Model.Count</h4>
<table class="table-bordered">
    <tr>
        <th>@Index.Id</th>
        <th>@Index.Name</th>
        <th>@Index.Loc</th>
        <th>@Index.Emp</th>
    </tr>

    @foreach (var dept in @Model.Departments)
    {
        <tr>
            <td>@dept.Id</td>
            <td>@dept.DepartmentName</td>
            <td>@dept.Location</td>
            <td>@Html.ActionLink("Employees", "Index", "Employee", new { id = @dept.Id }, null)</td>
            <td>@Html.ActionLink("Edit", "Edit", "Department", new { id = @dept.Id }, null)</td>
        </tr>
    }

</table>
